@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	padding:0px;
	font:bold 12px Arial, Helvetica, sans-serif;
}
.clear {
	clear:both;
}
.space {
	margin-top:10px !important;
}
/*    Main screens  */


/*
#main {
	background:url(images/01-login_body.png) no-repeat;
	width:350px;
	height:578px;
	margin:0 auto;
	padding:137px 0 0 27px;
}
#unit_a_main {
	background:url(images/unit_a_bg1.jpg) no-repeat;
	width:350px;
	height:580px;
	margin:0 auto;
	padding:138px 0 0 28px;
}
#system_main {
	background:url(images/system_bg.jpg) no-repeat;
	width:350px;
	height:580px;
	margin:0 auto;
	padding:138px 0 0 28px;
}

#component_cpu_main {
	background:url(images/component_cpu_bg.jpg) no-repeat;
	width:350px;
	height:580px;
	margin:0 auto;
	padding:138px 0 0 28px;
}
#component_display_main {
	background:url(images/component_display_bg.jpg) no-repeat;
	width:350px;
	height:580px;
	margin:0 auto;
	padding:138px 0 0 28px;
}
#alert_log_main {
	background:url(images/alert_log_bg.jpg) no-repeat;
	width:350px;
	height:580px;
	margin:0 auto;
	padding:138px 0 0 28px;
}
#email_log_main {
	background:url(images/email_log_bg.jpg) no-repeat;
	width:350px;
	height:580px;
	margin:0 auto;
	padding:138px 0 0 28px;
}
*/


/*    Main screens  End */


.login_content {
	width:290px;
	height:435px;
	background:#434343;
	padding:34px 0 0 30px;
}
.middle_screen {
	width:260px;
	height:204px;
	background:#343434;
	border:solid 1px #aeaeae;
	border-radius:5px;
}
.cemusa_logo {
	width:176px;
	height:23px;
	background:url(images/cemusa_logo.jpg) no-repeat;
	margin:14px 0 0 47px;
}
.logo_textline {
	width:260px;
	height:auto;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#d98c8a;
	text-align:center;
	margin:5px 0 0 0;
}
.login_box {
	width:214px;
	height:53px;
	background:#fff;
	border-radius:5px;
	border:solid 1px #aeaeae;
	margin:25px 0 0 23px;
}
.login_box input {
	width:200px;
	height:20px;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#bdbdbd;
	padding:0 0 0 5px;
	border-radius:5px 5px 5px 5px;
	border:none;
	outline:none;	
}
.user_name_row {
	width:214px;
	height:26px;
	border-radius:5px 5px 0 0;
	border-bottom:solid 1px #aeaeae;
}
.password_name_row {
	width:214px;
	height:26px;
}
.login_bttn {
	width:105px;
	height:30px;
	margin:20px 0 0 80px;
}
.login_bttn a {
	width:105px;
	height:30px;
	background:url(images/login_bttn.jpg) no-repeat;
	display:block;
	*margin-left:-80px;
}
.showtell_logo {
	background:url(images/showtell_logo.jpg) no-repeat;
	width:205px;
	height:44px;
	margin:34px 0 0 32px;
}





/*  HBMS  Unit a css start   */


.unit_a_content {
	width:320px;
	height:408px;
	background:#000;
}
.unit_a_top_row {
	width:320px;
	height:28px;
	background:#5b5b5b;
}
.unit_a_cemusa_img {
	width:124px;
	background:url(images/unit_a_cemusa_img.jpg) no-repeat;
	height:17px;
	float:left;
	margin:5px 0 0 11px;
}
.unita_top_text_part {
	width:148px;
	height:28px;
	float:right;
}
.unita_top_txt1 {
	width:140px;
	height:auto;
	font:bold 10px Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
}
.unita_top_txt1 span {
	color:#B2B3B3;
}
.unita_middle_content {
	width:320px;
	height:378px;
	background:#434343;
	overflow:scroll;
}
.unita_middle_content_1 {
	width:320px;
	height:322px;
	background:#434343;
	overflow:scroll;
}
.unita_middle_row {
	width:311px;
	height:52px;
	border:solid 1px #919191;
	padding:0 0 0 7px;
	background:#2c2c2c;
}
.unita_progress_bar {
	width:auto;
	/*background:url(images/progress_bar.jpg) no-repeat;*/
	height:21px;
	float:left;
	margin:15px 0 0 0;
}

.unita_middle_txt {
	width:100px !important;
	height:auto;
	font:normal 15px Arial, Helvetica, sans-serif;
	color:#c7c7c7;
	text-align:center;
	float:left;
	margin:15px 0 0 20px;
}
.unita_middle_arrow {
	width:25px;
	height:25px;
	float:right;
	margin:15px 10px 0 0;
}
.unita_middle_arrow a {
	width:25px;
	background:url(images/arrow_icon.jpg) no-repeat;
	height:25px;
	display:block;
}
.unita_showtell_row {
	width:320px;
	height:18px;
	background:#000;
}
.unita_showtell_img {
	width:120px;
	background:url(images/power_showtell_img.jpg) no-repeat;
	height:10px;
	margin:0 0 0 92px;
	position:relative;
	top:4px;
}
.unita_bottm_menu {
	width:320px;
	height:38px;
	background:url(images/bottm_menu_bg.jpg) repeat-x;
}
.unita_bottm_menu_row {
	width:320px;
	height:24px;
	position:relative;
	top:7px;
}
.unita_bottm_home {
	width:22px;
	height:21px;
	float:left;
	margin:0 0 0 19px;
}
.unita_bottm_home a {
	width:22px;
	background:url(images/home_icon.jpg) no-repeat;
	display:block;
	height:21px;
}
.unita_bottm_active_home {
	width:22px;
	background:url(images/home_icon.png) no-repeat !important;
	height:21px;
}
.unita_bottm_show_email {
	width:19px;
	height:16px;
	float:left;
	margin:3px 0 0 48px;
}
.unita_bottm_show_email a {
	width:19px;
	background:url(images/show_emails.jpg) no-repeat;
	display:block;
	height:16px;
}
.unita_bottm_refresh {
	width:16px;
	height:18px;
	float:left;
	margin:2px 0 0 50px;
}
.unita_bottm_refresh a {
	width:16px;
	background:url(images/refresh.png) no-repeat;
	display:block;
	height:18px;
}
.unita_bottm_send_note {
	width:23px;
	height:19px;
	float:left;
	margin:0 0 0 50px;
}
.unita_bottm_send_note a {
	width:23px;
	background:url(images/send_note.png) no-repeat;
	display:block;
	height:19px;
}
.unita_bottm_setting {
	width:23px;
	height:22px;
	float:right;
	margin:0 15px 0 0px;
}
.unita_bottm_setting a {
	width:23px;
	background:url(images/setting.png) no-repeat;
	display:block;
	height:22px;
}


/*  system  page  css  start   */


.system_unit_row {
	width:318px;
	height:51px;
	border:solid 1px #919191;
	background:#434343;
}
.system_top_home_bttn {
	width:53px;
	height:31px;
	float:left;
	margin:11px 0 0 8px;
}
.system_top_home_bttn a {
	width:46px;
	background:url(images/system_home_bttn1.jpg) no-repeat;
	height:24px;
	display:block;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	padding:7px 0 0 7px;
	text-decoration:none;
}
.system_unit_txt {
	width:170px;
	background:url(images/system_unit_icon.jpg) no-repeat;
	height:27px;
	padding:3px 0 0 15px;
	font:normal 15px Arial, Helvetica, sans-serif;
	color:#c7c7c7;
	float:left;
	margin:10px 0 0 5px;
}
.system_unit_icon {
	width:29px;
	height:31px;
	float:right;
	margin:10px 10px 0 0;
}
.system_unit_icon a {
	width:29px;
	background:url(images/system_icon3.jpg) no-repeat;
	height:31px;
	display:block;
}


/* Component  CPU   page css start  */

.component_cpu_middle_content {
	width:320px;
	height:378px;
	background:#2d2d2d;
}
.component_cpu_txt {
	width:170px;
	background:url(images/system_unit_icon.jpg) no-repeat;
	height:27px;
	padding:0 0 0 15px;
	font:normal 20px Arial, Helvetica, sans-serif;
	color:#c7c7c7;
	float:left;
	margin:10px 0 0 5px;
}
.component_cpu_txt1 {
	width:170px;
	height:10px;
	font-size:10px;
	position:relative;
	top:0px;
}
.component_cpu_txt2 {
	width:170px;
	height:15px;
	font-size:18px;
	font-weight:bold;
}
.component_cpu_middle_txt {
	width:300px;
	height:auto;
	padding:20px 0 0 20px;
}
.component_middle_txt_row {
	width:300px;
	height:auto;
}
.component_middle_txt_name_left {
	width:120px;
	height:15px;
	float:left;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
}
.component_middle_txt_name_right {
	width:150px;
	height:auto;
	float:left;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
}
.component_cpu_middle_txt h2 {
	font:bold 13px Arial, Helvetica, sans-serif;
	color:#8c8c8c;
	text-decoration:underline;
	margin:0 0 0 0;
	padding:0;
}



/*   Component display  page css start */

.compo_dis_middle_menu {
	width:310px;
	height:36px;
	background:url(images/compo_dis_middle_bg.jpg) repeat-x;
	border-radius:5px;
	margin:7px 0 0 5px;
}
.compo_dis_middle_menu ul {
	margin:0;
	padding:0;
}
.compo_dis_middle_menu ul li {
	width:62px;
	list-style:none;
	display:block;
	background:url(images/compo_dis_divider.jpg) no-repeat top right;
	float:left;
}
.compo_dis_middle_menu ul li a {
	text-decoration:none;
	margin:0;
	padding:0;
}
.compo_dis_arrow_active {
	background:url(images/compo_dis_arrow.png) no-repeat 20px 30px;
	width:42px;
	height:44px;
	position:relative;
	z-index:9999;
	display:block;
}
.compo_dis_frame1 {
	width:40px;
	background:url(images/compo_dis_frame1.jpg) no-repeat;
	height:26px;
	margin:5px 0 0 11px;
}
.compo_dis_frame2 {
	width:40px;
	background:url(images/compo_dis_frame2.jpg) no-repeat;
	height:26px;
	margin:5px 0 0 11px;
}
.compo_dis_frame3 {
	width:40px;
	background:url(images/compo_dis_frame3.jpg) no-repeat;
	height:26px;
	margin:5px 0 0 11px;
}
.compo_dis_frame4 {
	width:40px;
	background:url(images/compo_dis_frame4.jpg) no-repeat;
	height:26px;
	margin:5px 0 0 11px;
}
.compo_dis_frame5 {
	width:40px;
	background:url(images/compo_dis_frame5.jpg) no-repeat;
	height:26px;
	margin:5px 0 0 20px;
}
.compo_no_divider {
	background:none !important;
}


/*   Alert Log page css start  */


.alert_log_middle_content {
	width:291px;
	height:257px;
	background:#000;
	margin:15px 0 0 15px;
	overflow:scroll;
}
.alert_log_middle_top_row {
	width:279px;
	height:15px;
	background:#4c4c4c;
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#adadad;
	padding:0 0 0 12px;
}
.alert_log_middle_content_row {
	width:281px;
	height:15px;
	padding:0 0 0 10px;
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#adadad;
}
.alert_middle_left_txt {
	width:105px;
	height:14px;
	float:left;
	border-bottom:solid 1px #adadad;
}
.alert_middle_left_txt span {
	margin:0 0 0 5px;
}
.alert_middle_middle_txt {
	width:40px;
	height:15px;
	float:left;
	margin:0 0 0 12px;
}
.alert_middle_right_txt {
	width:112px;
	height:15px;
	float:left;
	margin:0 0 0 12px;
	color:#fff;
}
.alert_middle_right_txt span {	
	color:#00b644;
}
.span2 {	
	color:#c41b00 !important;
}


/* Email log page css start  */


.email_log_middle_content {
	width:312px;
	height:376px;
	margin:0 0 0 4px;
	overflow:scroll;
}
.email_log_middle_top {
	width:307px;
	height:18px;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#fff;
	padding:2px 0 0 5px;
}
.email_log_middle_txt {
	width:312px;
	height:auto;
	background:#fff;
}
.email_middle_mail1 {
	width:292px;
	height:auto;
	border-bottom:solid 1px #8c8c8c;
	padding:25px 10px 10px 10px;
	text-align:justify;
}
.email_middle_mail1 p {
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#000;
	margin:0px;
}
.email_middle_mail1 p span {
	color:#a8a8a8;
	margin:0 15px 0 0;
}
.email_middle_mail_line {
	width:292px;
	height:auto;
	border-bottom:solid 1px #DDDDDD;
	margin:10px 0;
}
#message {
	position:relative;
	z-index:999;
}
#message p {
	position:absolute;
	margin:0 !important;
	color:red;
	margin:0 0 0 30px !important;
}
#loading {
 width: 25.50%;
 height: 37.70%;
 top: 34px;
 left: 31px;
 position: fixed;
 z-index: 99;
 text-align: center;
 background:none !important;
}

#loading-image {
 position: absolute;
 top: 40px;
 left: 95px;
 z-index: 100;
 background:none !important;
}
.small_strips {
float:right;
margin:0 0 0 1px; 
width:5px; 
height:20px; 
}

.big_strips {
	float: right;
    font-size: 15px;
    height: 20px;
    margin:0 0 0 1px;
    text-align: center;
    width: 70px;
}

